<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
   
  <body>

    <%if logged_in?%>
      <% method="post"%>
      <%=current_user.user_name%>
        <%button_text = "Log Out"%>
        <%action= session_url%>
    <%else%>  
        <% method="get"%>
        <%button_text = "Log In"%>
         <%action = new_session_url%> 
    <%end%>
    
    <%= yield %>

    <form action= <%=action%> method="<%=method%>">
        
        <%if logged_in?%>
            <input type="hidden" name="_method" value="delete">
              
        <%end%>
        <input type = "submit" value="<%=button_text%>">
    <form>
  </body>
</html>
